<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataTestOneToMany.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E5238A1CA3E58A007BBC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E523A61CA3E58A007BBC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E523B11CA3E58A007BBC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
